<input type="search" placeholder="Search..." class="input__search container__item" name="theater">
<h1 class="container__item header__title">Theaters</h1>
<div>
  <section ui-sref="movie" class="container__item container__item--odd">
    <img ng-click="toggleHeart($event)" src="svg/heart.svg" alt="favorite movie" class="svg__heart svg__heart--unselected">
    <h2 class="subheader__title">The Super Great Movie Theater</h2>
    <p class="subheader__title--info subheader__address">1234 E. Entertainment Way. Santa Monica, CA 90212</p>
  </section>
  <section class="container__item container__item--even">
    <img ng-click="toggleHeart($event)" src="svg/heart.svg" alt="favorite movie" class="svg__heart svg__heart--unselected">
    <h2 class="subheader__title">The Non Existent Movie Theater</h2>
    <p class="subheader__title--info subheader__address">5678 Do Not Click Me. Fairy Lane, CA 91234</p>
  </section>
</div>
